@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<p>Виберіть дію:</p>

<div>
    <a href="@Url.Action("CreateUser", "Home")" class="btn btn-primary">Створити користувача</a>
</div>

<div>
    <a href="@Url.Action("CreateFood", "Home")" class="btn btn-primary">Створити їжу</a>
</div>

<div>
    <a href="@Url.Action("FoodList", "Home")" class="btn btn-primary">Список їжі</a>
</div>
