@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p class="text-center">Choose an action:</p>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">

            <div class="col-md-6 mb-3">
                <a href="@Url.Action("Main", "Food")" class="btn btn-secondary btn-block w-100">Food List</a>
            </div>
            <div class="col-md-6 mb-3">
                <a href="@Url.Action("MealPlan", "Meal")" class="btn btn-dark btn-block w-100">View Meal Plan</a>
            </div>
        </div>
    }
</div>
